<!DOCTYPE html>
<html>
<head>
  <title>Recuperação de Senha</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 2px solid #73086C;
      border-radius: 8px;
      text-align: center;
    }
    .button {
      background-color: #73086C;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Recuperação de Senha</h1>
    <p>Olá {{name}},</p>
    <p>Você solicitou a recuperação de senha para sua conta na plataforma de cartomancia Jornada. Clique no botão abaixo para redefinir sua senha. Você tem 30 minutos para redefinir a senha, caso o tempo seja ultrapassado, será necessário solicitar a troca de senha novamente.</p>
    
    <a href="{{resetLink}}" class="button">Redefinir Senha</a>

    <p>Se você não solicitou a recuperação de senha, por favor, ignore este email.</p>
  </div>
</body>
</html>
